
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 style="color:1abc9c;">KategoriEkle</h2>
<form class="form-group" method="post">
    <div style="margin-top:15px">
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="Adi" />
    </div>
    <div style="margin-top:15px">
        <button class=" btn btn-primary " id="btnKategoriEkle" style="background-color:1abc9c; color:ffffff; border:0;"/> Ekle</button>
    </div>
</form>

