@model Kutuphane.Models.Entity.Kategori

@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 style="color:1abc9c;">Kategori Güncelle</h2>
@using (Html.BeginForm("KategoriGetir", "Kategori", FormMethod.Post))
{
    <div style="margin-top:15px"></div>
    <div>
        <label>Kategori Id</label>
        @Html.TextBoxFor(u => u.Id, new { @class = "form-control" })
    </div>
    <div>
        <label>Kategori Adı</label>
        @Html.TextBoxFor(u => u.Adi, new { @class = "form-control" })
    </div>
    <div></div>
    <div style="margin-top:15px">
        <button class="btn btn-primary" style="background-color:1abc9c;color:ffffff;border:0;"> Kategori Güncelle</button>
    </div>
}
